ul.nav li{
    display:inline-block;
    padding-right:10px;
}
.nav li{
    background:red;
}
#about_blue li {
  background:#6495ED;
  color:blue;
}
#about_yellow li {
  background:#FFEBCD;
  color: orange;
}
